<mat-card class="example-card">

    <form (ngSubmit)="onSubmit()" novalidate [formGroup]="fg">
        <div>
            <input type="text" formControlName="firstName" class="form-control" placeholder="First name">
        </div>

        <div formArrayName="bUnits">
            <div *ngFor="let unit of businessUnits; let i = index;">
                <p>Unit {{ i + 1 }}</p>
                <div>
                    <label>
                        <input type="checkbox" [formControlName]="i" [value]="businessUnits[i].value">
                        {{businessUnits[i].name}}
                    </label>
                </div>
            </div>
        </div>

        <button type="submit">Submit</button>
        <p>Status {{ fg.valid }}</p>
    </form>

</mat-card>

<mat-card class="example-card">
    <form *ngIf="formulariodiario" (ngSubmit)="onSubmitdiario()" novalidate [formGroup]="formGroupDiario">

        <mat-form-field>
            <mat-label>Periodicidad</mat-label>
            <mat-select [(ngModel)]="periodicidadSeleccionada" (selectionChange)="comboPeriodicidadChange()"
                [ngModelOptions]="{standalone: true}">
                <mat-option>-Seleccione-</mat-option>
                <mat-option *ngFor="let periodo of periodicidad" [value]="periodo.id">
                    {{periodo.periodo}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput spellcheck="false" placeholder="Nombre Aplicativo" formControlName="nombreAplicativo">
            <small class="text-danger" *ngIf="formGroupDiario.get('nombreAplicativo').hasError('required')">
                Campo requerido.
            </small>
            <small class="text-danger" *ngIf="formGroupDiario.get('nombreAplicativo').hasError('minlength')">
                Minimo de caracteres.
            </small>
            <small class="text-danger" *ngIf="formGroupDiario.get('nombreAplicativo').hasError('maxlength')">
                Maximo de caracteres.
            </small>
        </mat-form-field>


        <mat-form-field *ngIf="hora">
            <mat-label>Horario</mat-label>
            <input matInput type="time" id="appt" name="appt" min="09:00" max="18:00" formControlName="horario"
                [(ngModel)]="horario" [ngModelOptions]="{standalone: true}">

            <small class="text-danger" *ngIf="formGroupDiario.get('horario').hasError('required')">
                Campo requerido.
            </small>

        </mat-form-field>

    </form>
</mat-card>

<mat-card class="example-card">
    <form *ngIf="formulariosemanal" (ngSubmit)="onSubmitSemanal()" novalidate [formGroup]="formGroupSemanal">

        <mat-form-field>
            <mat-label>Periodicidad</mat-label>
            <mat-select [(ngModel)]="periodicidadSeleccionada" (selectionChange)="PeriodicidadChange()"
                [ngModelOptions]="{standalone: true}">
                <mat-option>-Seleccione-</mat-option>
                <mat-option *ngFor="let periodo of periodicidad" [value]="periodo.id">
                    {{periodo.periodo}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput spellcheck="false" placeholder="Nombre Aplicativo" formControlName="nombreAplicativo">
            <small *ngIf="formGroupSemanal.get('nombreAplicativo').hasError('required')">
                Campo requerido.
            </small>
            <small *ngIf="formGroupSemanal.get('nombreAplicativo').hasError('minlength')">
                Minimo de caracteres.
            </small>
            <small class="text-danger" *ngIf="formGroupSemanal.get('nombreAplicativo').hasError('maxlength')">
                Maximo de caracteres.
            </small>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Horario</mat-label>
            <input matInput type="time" id="appt" name="appt" min="09:00" max="18:00" formControlName="horario"
                [(ngModel)]="horario" [ngModelOptions]="{standalone: true}">

            <small class="text-danger" *ngIf="formGroupSemanal.get('horario').hasError('required')">
                Campo requerido.
            </small>

        </mat-form-field>

        <mat-card>
            <div formArrayName="diasSemana">
                <div *ngFor="let unit of diasDelaSemana; let i = index;">
                    
                    <div>
                        <label>
                            <input type="checkbox" [formControlName]="i" [value]="diasDelaSemana[i].value">
                            {{diasDelaSemana[i].name}}
                        </label>
                    </div>
                </div>
            </div>
        </mat-card>

    </form>
</mat-card>



<mat-card class="example-card">


    <form>
        <h2>Generar Calendario de Tareas</h2>

        <mat-card>
            <mat-card-content>

                <mat-form-field>
                    <mat-label>Aplicativo</mat-label>
                    <input [(ngModel)]="nombreAplicativo" matInput [ngModelOptions]="{standalone: true}">
                    <mat-error>{{ getErrorMessage }}</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Periodicidad</mat-label>
                    <mat-select [(ngModel)]="periodicidadSeleccionada" (selectionChange)="PeriodicidadChange()"
                        [ngModelOptions]="{standalone: true}">
                        <mat-option>-Seleccione-</mat-option>
                        <mat-option *ngFor="let periodo of periodicidad" [value]="periodo.id">
                            {{periodo.periodo}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="intervalo">
                    <mat-label>Intervalo</mat-label>
                    <input matInput type="number" required min="1" max="8" [(ngModel)]="numeroIntervalo"
                        [ngModelOptions]="{standalone: true}">
                </mat-form-field>

                <mat-form-field *ngIf="hora">
                    <mat-label>Horario</mat-label>
                    <input matInput type="time" id="appt" name="appt" min="09:00" max="18:00" [(ngModel)]="horario"
                        [ngModelOptions]="{standalone: true}">
                </mat-form-field>

            </mat-card-content>

            <mat-card-content>

                <mat-form-field appearance="fill" *ngIf="fecha">
                    <mat-label>Fecha</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="fechaAplicacion"
                        [ngModelOptions]="{standalone: true}" (dateChange)="FechaCambia($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
                </mat-form-field>

                <button *ngIf="fecha" mat-raised-button color="primary" (click)="AgregarFechas()">agregar</button>

            </mat-card-content>

        </mat-card>


        <mat-card *ngIf="grillaFechas">
            <mat-card-content>

                <h4 class="mat-h4">Fechas Especificas</h4>

                <mat-table [dataSource]="dataGrillaFechas">

                    <!-- User name Definition -->
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <button (click)="eliminarRowGrilla(row)">eliminar</button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="fecha">
                        <mat-header-cell *matHeaderCellDef> Fechas </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.fecha}} </mat-cell>
                    </ng-container>

                    <!-- Header and Row Declarations -->

                    <mat-row *matRowDef="let row; columns: ['id','fecha']"></mat-row>

                </mat-table>


            </mat-card-content>
        </mat-card>

        <mat-card *ngIf="semana">
            <mat-card-content>
                <h4 class="mat-h4">Dias Semana</h4>
                <mat-grid-list cols="4" rowHeight="50px">
                    <mat-grid-tile *ngFor="let dias of diasDelaSemana">
                        <mat-checkbox [(ngModel)]="dias.checked" (change)="semanachangeList()"
                            [ngModelOptions]="{standalone: true}">
                            {{dias.dia}}
                        </mat-checkbox>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
        </mat-card>

        <mat-card *ngIf="meses">
            <mat-card-content>
                <h4 class="mat-h4">Meses</h4>
                <mat-grid-list cols="4" rowHeight="50px">
                    <mat-grid-tile *ngFor="let mes of mesesDelAnnio">
                        <mat-checkbox [(ngModel)]="mes.checked" (change)="meseschangeList()"
                            [ngModelOptions]="{standalone: true}">
                            {{mes.mes}}
                        </mat-checkbox>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
        </mat-card>

        <mat-card *ngIf="dias">
            <mat-card-content>
                <h4 class="mat-h4">Dias</h4>
                <mat-grid-list cols="7" rowHeight="50px">
                    <mat-grid-tile *ngFor="let dia of diasDelMes">
                        <mat-checkbox [(ngModel)]="dia.checked" (change)="diaschangeList()"
                            [ngModelOptions]="{standalone: true}">
                            {{dia.dia}}
                        </mat-checkbox>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
        </mat-card>

        <button mat-raised-button color="defaut" (click)="Volver()">Volver</button>
        <button mat-raised-button color="primary" (click)="Guardar()">Guardar</button>

    </form>
</mat-card>