<mat-card class="example-card">
  
        <h2>Periodicidad Mensual</h2>

        <mat-card>
            <mat-card-content>

                <mat-form-field>
                    <mat-label>Aplicativo</mat-label>
                    <input matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Periodicidad</mat-label>
                    <mat-select>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let periodo of periodicidad" [value]="aplicativo">
                            {{periodo.nombreAplicativo}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Horario</mat-label>
                    <input matInput type="time" id="appt" name="appt" min="09:00" max="18:00" required>
                </mat-form-field>

            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content>
                <h4 class="mat-h4">Meses</h4>
                <mat-grid-list cols="4" rowHeight="50px">
                    <mat-grid-tile *ngFor="let mes of mesesDelAnnio">
                        <mat-checkbox>
                            {{mes.mes}}
                        </mat-checkbox>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
        </mat-card>



        <mat-card>
            <mat-card-content>
                <h4 class="mat-h4">Dias</h4>
                <mat-grid-list cols="7" rowHeight="50px">
                    <mat-grid-tile *ngFor="let dia of diasDelMes">
                        <mat-checkbox>
                            {{dia.dia}}
                        </mat-checkbox>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
        </mat-card>



        <button mat-raised-button color="primary">Guardar</button>

        <button type="submit">Guardar</button>
       

   
</mat-card>